In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

In [4]:
train, test = train_test_split(df, test_size=0.2)

In [6]:
train.shape, test.shape

((18788, 11), (4698, 11))

In [7]:
train, validation = train_test_split(train, test_size=0.25)

In [9]:
train.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
18326,18326,1077,23,Perfect dress for wedding!,"I have an hourglass shape and a large chest, s...",5,1,0,General Petite,Dresses,Dresses
5830,5830,1025,40,So good i had to buy another pair,I bought these to wear to a christmas party wi...,5,1,2,General,Bottoms,Jeans
3780,3780,850,70,Retro chambray shirt,The shirt brings back the '60s look of appliqu...,5,1,1,General,Tops,Blouses
17100,17100,226,51,NaN,NaN,2,0,0,Initmates,Intimate,Sleep
1154,1154,59,45,Fabulous,"These undergarments are comfortable, streamlin...",5,1,2,Initmates,Intimate,Intimates

In [10]:
train.to_csv("train.csv", index=False)
validation.to_csv("validation.csv", index=False)
test.to_csv("test.csv", index=False)